<div class="container row">
  <div class="col-md-10 col-md-9">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%="#{name}"%>">
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>

      </div>
    <% end %>
  </div>
</div>